<a href = "{%url "main_page" %}">Home</a> <br><br>
<center>
<a href = "{%url "QuestionCreate" object.id%}"><button type="button">Add New Questions in this category</button></a>


<h3><p>List of the Questions in this catergory </p></h3>{{total_question}}
{% for k in a %}
    {% if k.question_category == object %}
    <br>

            <li><a href ="{% url 'ChoiceList' k.id %}">{{k.question_text}}</li>

    {% endif %}

{% endfor %}
<br><br><br><br>
<a href="{% url "CategoryDelete" object.id %}"><button type="button">DELETE CATEGORY</button></a><br>
</center>







