<a href = "{%url "main_page" %}">Home</a> <br><br>
<center>
<a href = "{%url "ChoiceCreate" %}"><button type="button">Add New Choices in this question</button></a><br>


<h3>{{object}}</h3>

<form action="{% url "VoteResult" object.id%}" method="get">
{% csrf_token %}
{% for choice in object.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /><br>
    

{% endfor %}
<input type="submit" value="Vote" /><br><br>
</form>



<a href="{% url "QuestionUpdate" object.id %}"><button type="button">UPDATE QUESTION</button></a><br><br>
<a href="{% url "QuestionDelete" object.id %}"><button type="button">DELETE QUESTION</button></a><br>

